[class*="icon-"] {
	font-family: "iconfont";
	font-size: inherit;
	font-style: normal;
}

@font-face {
  font-family: "iconfont"; /* Project id 3675492 */
  src: url('//at.alicdn.com/t/c/font_3675492_2m0wf1xxeqw.woff2?t=1665470277342') format('woff2'),
       url('//at.alicdn.com/t/c/font_3675492_2m0wf1xxeqw.woff?t=1665470277342') format('woff'),
       url('//at.alicdn.com/t/c/font_3675492_2m0wf1xxeqw.ttf?t=1665470277342') format('truetype');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-changdi1:before {
  content: "\e63f";
}

.icon-jiaoshigongzuotai:before {
	content: "\e66c";
}

.icon-xueshengtongji:before {
	content: "\e710";
}

.icon-changdi1:before {
	content: "\e63f";
}


.icon-map-pin-user-line:before {
	content: "\e6e6";
}

.icon-daiqueren:before {
	content: "\e6a5";
	margin-left: 30rpx;
}

.icon-daipingjia:before {
	content: "\e62a";
	margin-left: 30rpx;
}

.icon-yiqueren-xianxing:before {
	content: "\e63d";
}

.icon-xuqiudengji:before {
	content: "\e6f4";
}

.icon-kejianshangchuan:before {
	content: "\e605";
}

.icon-changdi:before {
	content: "\e614";
}

.icon-wodebaoxiu2:before {
	content: "\e7cf";
}

.icon-send-plane-line:before {
	content: "\e62d";
}

.icon-star-line:before {
	content: "\e6a2";
}

.icon-hearts-line:before {
	content: "\e7b1";
}

.icon-aixin:before {
	content: "\e6bb";
}

.icon-medalfill:before {
	content: "\e7c1";
}

.icon-yundongbisai:before {
	content: "\e682";
}

.icon-zinvjiaoyu:before {
	content: "\e607";
}

.icon-jiaoyu:before {
	content: "\e60a";
}
